.text-file i {
    font-size: 5rem;
}

@media screen and (min-width: 767px) {
    .text-file i {
        font-size: 12rem;
    }
}

@media screen and (min-width: 1024px) {
    .text-file i {
        font-size: 16rem;
    }
}
